# Use Vi, not Emacs, style editing
set editing-mode vi

# Keymaps for when we're in command mode (e.g., after hitting ESC)
set keymap vi-command

# Keymaps for when we're in insert (i.e., typing stuff in) mode
set keymap vi-insert

# Change cursor when in command or in insert mode
set show-mode-in-prompt on
set vi-cmd-mode-string "\1\e[1 q\2"
set vi-ins-mode-string "\1\e[5 q\2"

# Show all completions as soon as I press tab, even if there's more than one
set show-all-if-ambiguous on
# Ignore case
set completion-ignore-case on
# on menu-complete, first display the common prefix, then cycle through the 
# options when hitting TAB
set menu-complete-display-prefix on

# Pressing tab will list all completions & select the first one. Pressing it 
# again will cycle through available completions.
TAB: menu-complete
# Shift-TAB cycles completions backward
"\e[Z": menu-complete-backward

